@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Playfair Display", serif; */
    font-family: 'Rubik', sans-serif;
}

nav ul {
    /* width: 100vw; */
    position: fixed;
    display: flex;
    list-style: none;
    background-color: #002A24;
    padding: 0;
    align-items: center;
    z-index: 999;
    border-bottom: 5px ridge black;
    justify-content: space-evenly;
}

.menu-mobile ul {
    display: flex;
    flex-direction: column;
}

.menu-desktop ul{
    width: 100vw;
}

nav ul li {
    margin: 0 8px;
    transition: all 0.3s ease;
}

nav ul li a {
    font-weight: bolder;
    text-decoration: none;
    color:white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    position: relative;
    transition: all 0.3s ease;
    /* font-size: 16px; */
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
    display: inline-block;
}   

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: green;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    border-radius: 2px;
}

nav ul li a:hover::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li a:hover {
    color: rgb(50, 104, 33);
    background-color: #014036;
}

/* --- MENU MOBILE --- */
.menu-mobile {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #002A24;
    z-index: 1000;
    transition: right 0.3s ease;
    padding-top: 4rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

/* --- BOTÃO HAMBÚRGUER --- */
.botao-hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2.4rem;
    color: white;
    background: none;
    border: none;
    display: none;        /* só aparece no mobile */
    cursor: pointer;
    z-index: 1001;
    transition: all 1s ease;
}


/* Botão fechar */
.botao-fechar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: #1bde5c;
    cursor: pointer;
    transition: 1s;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 820px) {
    .menu-desktop ul li:not(:has(#logo)) {
        display: none;
    }

    .menu-desktop ul {
        height: 95px;
    }

    .menu-desktop ul li:has(#logo) {
        transform: translateX(-33vw);
    }

    .botao-hamburger {
        display: block;
    }
}

/* Mostrar menu quando marcado */
#check-de-menu:checked ~ .menu-mobile {
    right: 0%;
}

#check-de-menu:checked ~ .botao-hamburger {
    display: none;
}




#logo {
    align-self: center;
    justify-self: center;
    height: 50px; /* mesma altura aproximada dos textos (ajuste se quiser) */
    width: auto;  /* mantém a proporção */
    transition: 1s;
    transform: translateY(-0px) scale(1.5);
}

.banner {
    width: 100%;
    transition: 1s;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner-inicial {
    background-image: url(imagens/ValeBanner.png);
    height: 91dvh;
}

#banner-secundario {
    background-color: antiquewhite;
    background-image: url(imagens/VetorFundo.avif);
    padding: 15vh 0;
}

#fundo-section-confederado {
    background-color: antiquewhite;
    background-image: url(imagens/FundoConfederados.png);
    height: 100dvh;
    background-position: 50%;
}

#fundo-confederado {
    background-image: url(imagens/ConfederadosClaro.png);
    /* height: 100dvh; */
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 20vh 0;
}

#fundo-section-ventre {
    background-color: antiquewhite;
    background-image: url(imagens/VentreClaro.png);
    height: 100dvh;
    background-position: 50%;
    background-size: cover;
}

#fundo-ventre {
    background-image: url(imagens/FundoVentre.png);
    /* height: 100dvh; */
    background-size: cover;
    background-position: 0 -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 20vh 0;
    transition: 1s;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.5em;
    transition: 1s;
    margin-bottom: 1em;

    color: #111111;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    text-align: center;
    /* text-wrap: wrap; */
}

h1:hover {
    background: rgba(0, 0, 0, 0.35);
    padding: 10px 20px;
    border-radius: 6px;
    color: #ffffff
}

h2 {
    text-align: center;
    font-size: 1.7em;
    color: #111111;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

h3 {
    text-align: center;
    font-size: 1.7em;
    color: #111111;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    /* padding: 0 15%; */
    transition: 1s;
    max-width: 71ch;
    /* max-height: 50vh; */
    margin: 0 2ch;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    /* align-items: center; */
}

article {
    background-color:#d9c697;
    padding: 40px 60px;
    max-width: 1400px;
    width: 90%;
    border-radius: 12px;
    font-size: 1.2em;    
    /* Sombras ficam bonitas :) */
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);

    transition: 1s;
}

p {
    margin-bottom: 30px;
}





/* .cortando {
    font-style: oblique;
    position: relative;
    display: inline-block;
}

.cortando::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.35em;
    height: 2px;
    width: 0%;
    background: black;
    animation: riscando 5s infinite alternate ease;
}

@keyframes riscando {
    from { width: 0%; }
    to { width: 100%; }
} */